<%- include('../../partials/header.ejs') %>
<body>
  <%- include ('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h2>Categorias</h2>
    <hr />
    <table class="table table-light">
      <thead>
        <tr>
          <td>ID:</td>
          <td>Titulo:</td>
          <td>Slug:</td>
          <td>Ações:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Desenvolvimento web</td>
          <td>desenvolvimento-web:</td>
          <td>Ações:</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
